In [8]:
print("Hello")

Hello

## Reading data from MS Excel to Jupyter

In [8]:
import pandas as pd
dataset =pd.read_excel("IRQA_Vessel_Plant_Story04_Apr_2024_15_53.xlsx")
dataset

,Vessel Plant Story,Vessel Plant Story.1,Vessel Plant Story.2,Vessel Plant Story.3,Vessel Plant Story.4,Vessel Plant Story.5,Vessel Plant Story.6,Vessel Plant Story.7,Vessel Plant Story.8,Vessel Plant Story.9,Vessel Plant Story.10,Vessel Plant Story.11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,From Date:,01-Jan-2023,To Date:,31-Mar-2024,Plant:,ALL,Basket:,ALL,Grade:,ALL,Parameter:,Ash,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PLANT,BASKET,GRADE,LSGID,MNTH,Wagon Type,PORT,RAKE,VESSEL,CONTRACTED,LP,DP,Port Outgoing Rake,Plant Incoming Rake,Total Quantity,FS
3,TSJ,HCC,Lampunut,-,21-MAR-2023,BOXNHL,DHM,TS03TWS97,BENTLEY,4.78,NaN,4.53,4.85,4.36,4008,NaN
4,TSJ,HCC,TAHMOOR,C87,17-JUL-2023,BOXNHL,DHM,TS07TWS70,RANGIROA,9.78,9.30,9.25,9.47,8.53,3995,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4376,TSJ,WEAK,POITREL PCI (23% VM) WEAK,N6,28-JAN-2024,BOXNHL,KICT,K01TWS21,Apollon,NaN,10.30,10.58,NaN,NaN,4164.30,8.56
4377,HMC,WEAK,IP EAST,-,28-FEB-2023,BOXN,HLD,HMC18,MARINA BLISS(balance of ETG aq,9.78,NaN,NaN,NaN,8.73,3989.95,NaN
4378,HMC,WEAK,IP EAST,-,13-MAR-2023,BOXNHL,DHM,TS03HDCG06,MARINA BLISS(balance of ETG aq,9.78,NaN,NaN,9.35,9.20,3884.75,NaN
4379,TSK,WEAK,Capricorn PCI (Weak),C59,12-APR-2023,BOXN,DHM,TS04TSLJ18,ETG AQUARIUS,NaN,NaN,NaN,NaN,NaN,3970.07,NaN
4380,TSJ,WEAK,SW PCI (WEAK),C86,17-APR-2023,BOXNHL,KICT,TWS04,YANGZE NAVIGATION,NaN,NaN,NaN,9.54,NaN,3949.85,NaN

In [10]:
# maxmium row that can be printed
pd.get_option("display.max_columns")

20

In [11]:
# set to print all the column
pd.set_option("display.max_columns",None)
# dataset

In [28]:
# set to print 20 column
pd.set_option("display.max_columns",20)
# dataset